body{
     padding: 0;
     margin: 0;
     background-color: #7e7e7e;
}
button{
     padding: 25px;
     margin: 25px;
     flex-wrap: wrap;
     width: 300px;
     height: 70px;
     text-align: center;
     background-color: black;
     color: white;
}
body{
     text-align: center;
}
